batch/__pycache__/
batch/dist/builder/_socket.pyd
batch/dist/
batch/build/
batch/VB6MAKE_ERRORLOG_CONFIGURATORE.TXT
batch/VB6MAKE_ERRORLOG_OVERLORD.TXT
batch/SETUPFT10devicedriver/
batch/SETUPFT10/
dependencies/*
Rfid/*
Exe/*
Exe_non_ufficiali/*
rdp/*
tcpip/*
TheDarkKnight/*
TheDarkKnight_non_ufficiali/*
FTSystem.Shutdown/
TheDarkKnightDeviceDriver/
FTLibService/